:root {
  --quote-margin: 5px;
  --header-hight: 20vh;
  --header-top-padding: 0.10;
  --header-flower-height: 0.25;
  --sections-width: 870px;
  --background-color: #F7EEE7;
  --root-font-size: 20px;

  font-size: var(--root-font-size);
}
@font-face {
  font-family: hebrewCursive;
  src: url('fonts/FtPilKahol-100-400-Regular.eot');
  src: url('fonts/FtPilKahol-100-400-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/FtPilKahol-100-400-Regular.woff2') format('woff2'),
       url('fonts/FtPilKahol-100-400-Regular.woff') format('woff'),
       url('fonts/FtPilKahol-100-400-Regular.ttf')  format('truetype'),
       url('fonts/FtPilKahol-100-400-Regular.svg#FtPilKahol 1.00') format('svg');
}

body, html {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
#app {
  font-family: 'Heebo', 'Alef', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #4a4644;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alef';
  font-weight: bold;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem; 
}
h3 {
  font-size: 1.5rem; 
}
h4 {
  font-size: 1.25rem; 
}
h5 {
  font-size: 1.1rem; 
}
h6 {
  font-size: 1rem; 
}

p {
  font-family: 'Heebo';
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
}
.bold {
  font-weight: 700;
}
.dashed-bottom {
  border-bottom: 1px dashed rgba(0,0,0,.35);
}
.behind {
  position: absolute;
}
.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  flex-wrap: wrap;
}

.flip {
  transform: rotateY(180deg);
}

.more-details-button {
	font-family: 'Alef';
	font-weight: bold;
	font-size: 1.156rem;
	color: #4d4341;

	background-color: #f2e4d8;
	border: none;
	border-radius: 5px;

	margin-top: 20px;
	padding: 10px 20px;

	cursor: pointer;
	transition: .2s;

  z-index: 2;
}

.more-details-button:hover {
	color: #f2e4d8;
	background-color: #4d4341;
	border: none;

}



