:root {
  --quote-margin: 5px;
  --header-hight: 22vh;
  --header-top-padding: 0.15;
  --header-flower-height: 0.35;
  --sections-width: 750px;
  --background-color: #F7EEE7;
  font-size: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#app {
  font-family: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2e2e2e;
}

p {
  font-size: 0.75rem;
  text-align: right;
}
.bold {
  font-weight: 700;
}
.dashed-bottom {
  border-bottom: 1px dashed rgba(0,0,0,.35);
}
.behind {
  position: absolute;
}
.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  flex-wrap: wrap;
}



