#findme {
	min-height: 100vh;
	background-color: #FAFAFA;
	display: flex;
}

#findme > div {
	flex-grow: 1;
	padding: 50px 0;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 60px;	
}

#social-media {
	height: 20%;
}
#social-media .title{
	font-family: hebrewCursive;
	font-weight: normal;
	font-size: 2.2rem;
	line-height: 30px;
	color: #2e2e2e;

	margin: 0 0 20px;
}

@media screen and (min-width: 600px){
	#social-media .title{
		font-size: 2.7rem;
		line-height: 45px;
	}
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

#instagram-link img {
	height: 40px;
	width: auto;
}

#youtube-link img {
	height: 50px;
	width: auto;
}

#services {
	flex-grow: 1;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	column-gap: 100px;
	row-gap: 50px;
	flex-wrap: wrap;
}

.service {
	padding: 7px;
	background-color: white;
	max-width: calc(300px + 7px);
}
.service img {
	object-fit: cover;
	height: 400px;
	width: 300px;
}
.service .details {
	padding: 5px 20px 25px;
}
.service .details .text-limiter {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
   	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.service h3 {
	font-family: 'Heebo';
	font-weight: 500;
	color: black;
	margin: 0 0 5px;
}
.service p {
	margin: 0;
}
