#helpwith {
	max-width: 100%;
	width: calc(var(--sections-width) + 50px);
	margin: 0 auto 40px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
#helpwith > h2 {
	text-align: right;
}
.helps-container {
	/* flex-grow: 1; */
	position: relative;
	display: flex;
}
.helps {
	row-gap: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
	row-gap: 50px;
}
.helps.numbers {
	flex-grow: 1;
}
.helps.text {
	height: 100%;
	width: 100%;
	right: 55px;
}
.help {
	min-width: 200px;
	width: calc(100% / 3);
	display: inline-flex;
	position: relative;
}
.helps.numbers .help {
	justify-content: flex-start;
	align-items: center;
}
.helps.text .help {
	justify-content: flex-start;
	align-items: center;
	text-align: start;
}
.help .number {
	font-size: 4.3rem;
	font-family: 'Oswald', sans-serif;
	margin: 0;

} 
.help .text {
	font-family: 'Heebo';
	font-weight: normal;
	
	z-index: 1;
	
	padding-left: 70px;
	margin: 0;
}

.help:nth-child(1) .number, .help:nth-child(7) .number{
	color: #E0D2C9;
}
.help:nth-child(2) .number, .help:nth-child(8) .number{
	color: #F3DED3;
}
.help:nth-child(3) .number, .help:nth-child(9) .number{
	color: #E5CEC6;
}
.help:nth-child(4) .number{
	color: #E0D9D3;
}
.help:nth-child(5) .number{
	color: #E5CEC6;
}
.help:nth-child(6) .number{
	color: #e6d6ca;
}
