#intro {
	position: relative;
	/* min-height: calc(100vh - var(--header-hight)); */

	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	align-items: center;

	background-color: var(--background-color);
}
@media only screen and (min-width: 630px) {
	#intro {
		min-height: calc(100vh - var(--header-hight));
	}

}


@media only screen and (min-width: 1230px) {
	#intro {
		height: calc(100vh - var(--header-hight));
		flex-direction: row;
		align-items: initial;
	}
}

#intro .image {
	position: relative;
	display: flex;

	max-height: 50vh;
	min-width: calc(320px - 40px);

	flex: 1;

	/* padding: 20px; */
}
@media only screen and (min-width: 1230px) {
	#intro .image {
		max-width: calc(100%);
		max-height: 100%;
		padding: 0;
		/* padding-left: 0; */
	}
}
#intro .overflow {
	flex-grow: 1;

	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 30px;

}


#intro .image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#intro .info {
	position: relative;
	min-width: 320px;
	flex: 1;
	
	display: flex;
	align-items: flex-start;

	overflow-x: hidden;
}
@media only screen and (min-width: 630px) {
	#intro .info {
		align-items: center;
	}
}

#intro .text {
	width: 100%;
	padding: 30px 20px;

	position: relative;
	display: flex;
	justify-content: center;
	
}
@media only screen and (min-width: 1230px) {
	#intro .text {
		width: auto;
		flex-grow: 1;
		flex-direction: row-reverse;		
	}
}
@media only screen and (min-width: 1230px) {
	#intro .filler {
		max-width: 300px;
		flex-grow: 3;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}
#intro .title {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
#intro h1 {
	display: inline-block;
	margin: 0 10px;

	font-size: 1.8rem;
	font-family: hebrewCursive;
	font-weight: normal;
	line-height: 42px;
	color: #47413d;

    -webkit-transform:scale(1,1.3); /* Safari and Chrome */
    -moz-transform:scale(1,1.3); /* Firefox */
    -ms-transform:scale(1,1.3); /* IE 9 */
    -o-transform:scale(1,1.3); /* Opera */
    transform:scale(1,1.3); /* W3C */
}
@media only screen and (min-width: 630px) {
	#intro h1 {
		font-size: 3rem;
		line-height: 67px;
	}
}

#intro h5 {
	margin: 55px 0 0;

	font-size: 0.6rem;
	font-family: 'Heebo';
	font-weight: 800;
	color: #47413d;

	-webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}
@media only screen and (min-width: 630px) {
	#intro h5 {
		font-size: 0.85rem;
	}
}
#intro .flower1 {
	display: none;
	position: absolute;
	margin-left: 150px;
}

@media only screen and (min-width: 1230px) {
	#intro .flower1 {
		display: block;
	}
}

#intro .quote {
	display: inline-block;
	height: 30px;
	margin-bottom: 30px;
}
#intro .quote.open {
	transform: rotate(0.5turn);
	margin-left: var(--quote-margin);
}
#intro .quote.close {
	margin-right: var(--quote-margin);
}

@media only screen and (min-width: 630px) {
	#intro .quote {
		height: 50px;
	}
}

