#intro {
	position: relative;
	display: flex;
	flex-direction: row;
	height: calc(100vh - var(--header-hight));
}
#intro .image {
	flex: 1;
}
#intro .image img{
	/* min-width: 300px; */
	width: 100%;
	height: 100%;
}
#intro .info{
	flex: 1;
	position: relative;
	background-color: var(--background-color);
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

#intro .text {
	/* position: relative;
	right: 10%; */
}
#intro .title {
	display: flex;
}
#intro h1 {
	display: inline-block;
	margin: 0;

	font-size: 2.75rem;
	font-family: hebrewCursive;
	font-weight: normal;
	line-height: 80px;
}
#intro h5 {
	margin-top: 25px;

	font-size: 0.8rem;
	font-family: 'Heebo';
}
#intro .flower1 {
	position: absolute;
	left: 0;
	top: auto;
	bottom: auto;
	height: min(90%, 40vw);
	/* width: 60%; */
}

#intro .quote {
	height: 50px;
	margin-bottom: 5px;
}
#intro .quote.open {
	transform: rotate(0.5turn);
	margin-left: var(--quote-margin);
}
#intro .quote.close {
	margin-right: var(--quote-margin);
}

