#joinme {
	background-color: #F7EEE7;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  }
  #pros h1{
	font-family: 'Alef', sans-serif;
	font-size: 1.75rem;
	font-weight: normal;
  
	margin: 0;
	display: inline-block;
	margin: 0 auto;
	padding: 50px 30px 5px;
  }
  #pros {
	width: var(--sections-width);
	margin: 0 auto;
  }
  #pros > div {
	display: flex;
  }
  #pros p:first-child {
	margin-left: 20px;
  }
  #pros p:last-child {
	margin-right: 20px;
  }
  #pros p {
	font-size: 0.9;
	line-height: 25px;
	flex: 1;
  }