#joinme {
	background-color: var(--background-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
#pros h1{
	font-family: 'Alef', sans-serif;
	font-size: 1.75rem;
	font-weight: normal;

	margin: 0;
	display: inline-block;
	margin: 0 auto;
	padding: 50px 30px 5px;
}
#pros {
	max-width: var(--sections-width);
	width: 100%;
	margin: 0 auto;
}
#pros > div {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
}

#pros p {
	font-size: 0.9rem;
	line-height: 32px;
	flex: 1;
	min-width: 250px;
}